.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.everythingDiv {
  width: 70%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: auto
}

.inputs {
  width: 60%;
  margin: auto;
  margin-bottom: 20px;
}

.foodEntryDiv {
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.showHideButton {
  margin: 20px
}

.noResultsDiv {
  margin: auto;
  margin-top: 30px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
